
@model IEnumerable<PhoneShop.ViewModels.HangHoaVM>

@{
    ViewData["Title"] = "Index";
    Layout = "_DanhSachHangHoa";
}


<!-- Single Page Header start -->
@section BreadCum{
    <!-- page-title -->
    <div class="tf-page-title">
        <div class="container-full">
            <div class="heading text-center">Products</div>
            <p class="text-center text-2 text_black-2 mt_5">Products of Technology</p>
        </div>
    </div>
    <!-- /page-title -->
}
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
@await Html.PartialAsync("ProductItem", Model)



<!-- Fruits Shop End-->