@model IEnumerable<PhoneShop.ViewModels.HangHoaVM>

@{
    ViewData["Title"] = "ProductItem";
}

@foreach (var item in Model)
{
    <div class="card-product">
        <div class="card-product-wrapper">
      
                <a asp-action="Detail" asp-controller="HangHoas" asp-route-id=@item.MaHh class="product-img">
                <img src="~/Hinh/HangHoa/@item.Hinh" class="lazyload img-product" rounded-top" alt="@item.TenHh">
                <img class="lazyload img-hover" src="~/Hinh/HangHoa/@item.Hinh" src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh">
                </a>
                <div class="list-product-btn">
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh"  data-bs-toggle="" class="box-icon bg_white quick-add tf-btn-loading">
                        <span class="icon icon-bag"></span>
                 
                    </a>
                    <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                        <span class="icon icon-heart"></span>
                        <span class="tooltip">Add to Wishlist</span>
                        <span class="icon icon-delete"></span>
                    </a>
                    <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                        <span class="icon icon-compare"></span>
                        <span class="tooltip">Add to Compare</span>
                        <span class="icon icon-check"></span>
                    </a>
                    <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                        <span class="icon icon-view"></span>
                        <span class="tooltip">Quick View</span>
                    </a>
                </div>
        </div>

    

   
    <div class="card-product-info">
                <a asp-action="Detail" asp-controller="HangHoas" asp-route-id=@item.MaHh>
                    @item.TenHh
                </a>
            <span class="price">$@item.DonGia</span>
            <ul class="list-color-product">

            </ul>
    </div>

    </div>





}

