@model PhoneShop.ViewModels.CartModel


<li class="nav-cart">
     <a asp-action="Index" asp-controller="Cart" 
            data-bs-toggle=""  
           class="nav-icon-item"> 
             <i class="icon icon-bag"></i><span class="count-box">@Model.Quantity</span> 
 </a> 

</li>


