@model IEnumerable<PhoneShop.ViewModels.MenuLoaiVM>

<div class="tf-control-sorting d-flex justify-content-end">
    <div class="mb-3" style="border: 1px solid #000;">
       
        <select id="categorySelect" class="form-select" onchange="location = this.value;">
            <option selected disabled hidden>Danh mục</option>
            @foreach (var item in Model)
            {
                <option value="@Url.Action("Index", "HangHoas", new { loai = item.MaLoai })">
                    @item.TenLoai (@item.SoLuong)
                </option>
            }
        </select>
    </div>
</div>










