
@{
    Layout = "_LayoutCustomer";
}


<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Single Page Header End -->

<!-- Section Product -->
<section class="flat-spacing-2">
    <div class="container">
        <div class="tf-shop-control grid-3 align-items-center">
            <div class="tf-control-filter">
                @await Html.PartialAsync("_TimKiemPanel")
             
            </div>
            <ul class="tf-control-layout d-flex justify-content-center">
                <li class="tf-view-layout-switch sw-layout-2" data-value-grid="grid-2">
                    <div class="item"><span class="icon icon-grid-2"></span></div>
                </li>
                <li class="tf-view-layout-switch sw-layout-3" data-value-grid="grid-3">
                    <div class="item"><span class="icon icon-grid-3"></span></div>
                </li>
                <li class="tf-view-layout-switch sw-layout-4 active" data-value-grid="grid-4">
                    <div class="item"><span class="icon icon-grid-4"></span></div>
                </li>
                <li class="tf-view-layout-switch sw-layout-5" data-value-grid="grid-5">
                    <div class="item"><span class="icon icon-grid-5"></span></div>
                </li>
                <li class="tf-view-layout-switch sw-layout-6" data-value-grid="grid-6">
                    <div class="item"><span class="icon icon-grid-6"></span></div>
                </li>
            </ul>
            @await Component.InvokeAsync("MenuLoai")
            
        </div>
        <div class="grid-layout wrapper-shop" data-grid="grid-4">
            <!-- card product 1 -->
            @RenderBody()


        </div>
        <!-- pagination -->
        <!-- pagination -->
        @model dynamic

        <div class="pagination-wrapper d-flex justify-content-center mt-4">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a href="javascript:void(0);" data-page="@i" class="page-link">
                            @i
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div id="content-area">
            <!-- Nội dung trả về từ server sẽ được hiển thị tại đây -->
        </div>
    </div>
</section>



        <!-- /Section Product -->
