<form asp-action="Search" asp-controller="HangHoas" class="tf-mini-search-frm">
    <fieldset class="text" style="width: 200px;">
        <input type="search" placeholder="Search" name="query" tabindex="0" aria-required="true" required="" style="border: 1px solid #000;">
    </fieldset>
    <button type="submit">
        <i class="icon-search"></i>
    </button>
</form>
